@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-title-responsive {
    font-size: clamp(16px, 9vw, 81px);
    line-height: clamp(16*1.2px, 1.2*9vw, 1.2*81px);
  }
  .text-subtitle-responsive {
    font-size: clamp(1.125rem, 2vw, 20px);;
    line-height: clamp(1.125rem, 2vw, 20px);;
  }
  .border-bottom {
    border-bottom: 1px solid #000;
    padding-bottom: 2px
  }
  .border-bottom-white {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px; 
  }
  .min-h-90 {
    min-height: 90vh;
  }
  .h-card {
    height: 30vh;
  }
  .filter-grayscale {
    filter: grayscale(80%);
  }
  @variants responsive {
   .photo-text {
      max-width: 560px;
   }
   .text-title{
    font-size: 3rem;
    line-height: 4rem;
  }
  }
}

